html,
body {
    /* Dynamically resize for large screens */
    font-size: calc(12px + .25vw);
    /* Scale background to fit the screen */
    min-height: 100%;
    min-width: 100%;
}

/* ---- UTILITY ---- */

.reveal.smaller {
    width: 40%;
    max-width: 62.5rem;
}

ul.no-bullets {
    margin-left: 0;
}

ul.no-bullets li {
    list-style: none;
}

input:checked~.switch-paddle {
    background: #333;
}

.boldText {
    font-weight: bold;
}

.leftOffset25 {
    margin-left: 25px !important;
}

.topOffset2Rem {
    margin-top: 2rem;
}

#srosUiMainBusyContainer,
#srosUiMainErrorContainer {
    margin-top:5rem;
}

.srosUiError {
    font-size: 3rem;
    color: #F78D05;
}

.srosUiBusyImg {
    height: 7rem;
    width: auto;
}

#srosUiMainBusyText {
    font-size: 2rem;
    color: #959595;
}

.srosUiError {
    font-size: 3rem;
    color: #F78D05;
}

.srosUiCallout {
    margin-top: 3rem;
}

/* ---- MENUS ---- */

#main-menu .top-bar,
#main-menu .top-bar ul {
    background-color: #333;
    color: #eee;
}

#main-menu .top-bar a {
    color: #eee;
}

#main-menu .top-bar a::after {
    border-color: #999 transparent;
}

#section-sub-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#page-tools {
    float: right;
}

/* ---- MISC ---- */
.deleteItem,
.downloadItem,
.gotoItem,
.editItem {
    font-size: 1.2rem;
}

.deleteItem {
    color:#D65307;
}

.deleteItem:hover {
    color:#D7895B;
}

.downloadItem {
    color:#448A2C;
}

.downloadItem:hover {
    color:#8BAF7F;
}

.gotoItem {
    color:#AB53F9;
}

.gotoItem:hover {
    color:#DAC5EE;
}

.srosSectionHeader {
    color: #9A9A9A;
}

.srosModalFieldHeaderDiv {
    padding-top:.5rem;
    padding-right: 1rem;
}

.srosModalFieldHeader,
.srosModalInput,
.srosModalErrorText,
.srosModalBusyText {
    font-size: .9rem;
}

.srosModalErrorText ul {
    margin:0;
}

.srosModalFieldHeader {
    font-weight: bold;
}

.srosModalInput.invalid {
    background-color: #F3CB7A;
    border-color: #EA6E07;
}

#repoObjectDisplayListHeader ,
#repoObjectDisplayList {
    padding:.5rem;
    margin-bottom: 0;
}

#repoObjectDisplayList {
    background-color: #EAEAEA;
    border-color:#000;
    border: solid;
    border-width:1px;
    border-radius:3px;
    min-height: 400px;
    max-height: 500px;
    overflow-y: auto;
}

#repoObjectDisplayList li {
    padding-bottom: .2rem;
}

#repoObjectDisplayList li:hover {
    background-color:#CFE8FF;
}

.srosListHeaderText {
    font-weight: bold;
    color: #656565;
}

.repListItemName {
    font-weight: bold;
}

.repListItemDate {
    font-style: italic;
}

#srosMainPageContents{
    margin-top:1rem;
}

.subMenuButton {
    margin-bottom: 0;
}

.srosLoadingImg {
    width: 20rem;
}

.srosDemoMenuHeader {
    font-size: 1.5rem;
    font-family: "Lucida Console", Monaco, monospace;
}

.srosDemoMenuHeaderSmall {
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
}

.srosModalTextArea {
    height: 8rem;
    resize: none;
}